.footer{
  display:flex;
  flex-direction: column;
  background-color: var(--accent);
  color:var(--secondary-color);
  padding: 1rem;
  margin-top:2rem;

  .footer__links{
    display:flex;
    padding: 1.3rem 0;
    li{
      padding-right: 1.3rem;
      font-weight: 400;
      font-size: 12px;
    }
  }
  span{
    border-top:1px solid var(--span-color);
    font-weight: 400;
    font-size: 14px;
    padding-top: 1.8rem;
  }
  h3{
    margin:0 auto;
    color: var(--span-color);
    font-size: 14px;
  }
}
