<div class="place">
  <div>
    <app-navbar></app-navbar>
    <app-header></app-header>
    <div class="container">
      <div class="trending">
        <div>
          <img src="../../../assets/trending.svg" alt="trending-icon">
        </div>
        <span>Lorem ipsum</span>
      </div>
      <app-post-card
        authorName="Steve"
        cardTitle="My title..."
        modifiedAt="June 16"
        readTime="7 min" />
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
